<section class="h-full w-full border-box  transition-all duration-500 linear" style="background-color: #000000;">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        .btn-outline-header-4-4 {
            border: 1px solid #999999;
            color: #999999;
        }

        .btn-outline-header-4-4:hover {
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
        }

        .btn-outline-header-4-4:hover div path {
            fill: #FFFFFF;
        }

        .box-shadow-header-4-4:hover {
            --tw-shadow: inset 0 0px 18px 0 rgba(0, 0, 0, 0.7);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }

        .navigation-header-4-4 a:hover,
        .active::after {
            font-weight: 600;
        }

        .navigation-header-4-4 a:hover {
            color: #FFFFFF;
        }

        .navigation-header-4-4 {
            color: #B9B9B9;
        }

        .bg-screen-header-4-4 {
            background-color: #2c2c2c;
        }

        .bg-popup-header-4-4 {
            background-color: #000000;
        }
    </style> <!-- Navbar -->
    <div style="font-family: 'Poppins', sans-serif;">
        <header x-data="{ open: false }">
            <div
                class="mx-auto flex py-12 lg:px-24 md:px-16 sm:px-8 px-8  items-center justify-between lg:justify-start">
                <a href="#"> <img
                        src="http://api.elements.buildwithangga.com/storage/files/2/assets/Header/Header2/Header-2-4.png"
                        alt=""> </a>
                <div class="flex mr-0 lg:hidden cursor-pointer"> <svg class="w-6 h-6" @click="open = !open" fill="none"
                        stroke="#E7E7E8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg> </div>
                <div :class="{'hidden': !open}"
                    class="bg-screen-header-4-4 bg-black fixed w-full hidden h-full top-0 left-0 z-30 bg-opacity-60"
                    @click="open = !open"> </div>
                <nav class="navigation-header-4-4 lg:mr-auto hidden lg:flex flex-col text-base justify-center z-50 fixed top-8 left-3 right-3 p-8 rounded-md shadow-md bg-white lg:flex lg:flex-row lg:relative lg:top-0 lg:shadow-none bg-popup-header-4-4 lg:bg-transparent lg:p-0 lg:items-center items-start"
                    :class="{'flex': open, 'hidden': !open}"> <a href="#"> <img class="m-0 lg:hidden mb-3"
                            src="http://api.elements.buildwithangga.com/storage/files/2/assets/Header/Header2/Header-2-4.png"
                            alt=""> </a> <a
                        class=" text-lg font-semibold leading-6 mx-0 lg:mx-5 my-4 lg:my-0 relative active"
                        style="color: #FFFFFF; font-family: 'Poppins', sans-serif;" href="#">Home</a> <a
                        class=" text-lg font-light leading-6 mx-0 lg:mx-5 my-4 lg:my-0 relative"
                        style="font-family: 'Poppins', sans-serif;" href="#">Feature</a> <a
                        class=" text-lg font-light leading-6 mx-0 lg:mx-5 my-4 lg:my-0 relative"
                        style="font-family: 'Poppins', sans-serif;" href="#">Pricing</a> <a
                        class=" text-lg font-light leading-6 mx-0 lg:mx-5 my-4 lg:my-0 relative"
                        style="font-family: 'Poppins', sans-serif;" href="#">About Us</a> <a
                        class=" text-lg font-light leading-6 mx-0 lg:mx-5 my-4 lg:my-0 relative"
                        style="font-family: 'Poppins', sans-serif;" href="#">Contact</a>
                    <div class="flex items-center justify-end w-full lg:hidden mt-3"> <button
                            class="font-light py-3 px-8 focus:outline-none"
                            style="color:#E7E7E8; font-family: 'Poppins', sans-serif;"> Log In </button> <button
                            class=" text-black  text-lg py-3 px-8 rounded-xl focus:outline-none box-shadow-header-4-4  font-semibold"
                            style="background-image: linear-gradient(rgba(208, 254, 123, 1), rgba(163, 252, 158, 1)); font-family: 'Poppins', sans-serif;">
                            Try Now </button> </div> <svg @click="open = !open"
                        class="w-6 h-6 absolute top-4 right-4  lg:hidden cursor-pointer" fill="none"
                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </nav>
                <div class="hidden lg:inline-flex"> <button
                        class="inline-flex text-black font-light text-lg leading-7 py-3 px-8 focus:outline-none"
                        style="color:#E7E7E8; font-family: 'Poppins', sans-serif;">Log In </button> <button
                        class="inline-flex text-black text-lg leading-7 py-3 px-8 rounded-xl focus:outline-none box-shadow-header-4-4  font-semibold"
                        style="background-image: linear-gradient(rgba(208, 254, 123, 1), rgba(163, 252, 158, 1)); font-family: 'Poppins', sans-serif;">Try
                        Now </button> </div>
            </div>
        </header> <!-- Hero-header-4-4 -->
        <div>
            <div class="mx-auto flex pt-12 pb-16 lg:pb-20 lg:px-24 md:px-16 sm:px-8 px-8  lg:flex-row flex-col">
                <!-- Left Column -->
                <div
                    class="lg:flex-grow lg:w-1/2 flex flex-col lg:items-start lg:text-left mb-3 md:mb-12 lg:mb-0 items-center text-center">
                    <p class="mb-8 leading-relaxed font-semibold text-sm" style="color: #C3CDFE;">FREE 30 DAY TRIAL</p>
                    <h1 class="lg:block hidden title-font sm:text-5xl lg:text-6xl text-4xl mb-8 font-semibold sm:leading-tight "
                        style="color: #FFFFFF; line-height: 1.2;">The best way<br> to organize your online learning
                    </h1>
                    <h1 class="lg:hidden block title-font sm:text-5xl lg:text-6xl text-4xl mb-8 lg::px-10 md:px-10 sm:px-6 px-0 font-semibold sm:leading-tight "
                        style="color: #FFFFFF; line-height: 1.2;">The best way to organize your online learning </h1>
                    <div
                        class="inline-block items-center mx-auto lg:mx-0 lg:flex justify-center lg:space-x-8 md:space-x-2  sm:space-x-3 space-x-0">
                        <button
                            class=" inline-flex font-semibold text-black  text-base py-4 px-6 rounded-xl mb-4 lg:mb-0 md:mb-0 focus:outline-none box-shadow-header-4-4"
                            style="background-image: linear-gradient(rgba(208, 254, 123, 1), rgba(163, 252, 158, 1)); font-family: 'Poppins', sans-serif;">Try
                            it free</button> <button
                            class="btn-outline-header-4-4 font-normal text-black  text-base py-4 px-6 rounded-xl focus:outline-none bg-transparent rounded hover:border-transparent"
                            style="font-family: 'Poppins', sans-serif;">
                            <div class="flex items-center"> <svg class="mr-2.5" width="13" height="12"
                                    viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.9293 7.99988L6.66668 5.15788V10.8419L10.9293 7.99988ZM12.9173 8.27722L5.85134 12.9879C5.80115 13.0213 5.74283 13.0404 5.6826 13.0433C5.62238 13.0462 5.5625 13.0327 5.50934 13.0042C5.45619 12.9758 5.41175 12.9334 5.38075 12.8817C5.34976 12.83 5.33337 12.7708 5.33334 12.7105V3.28922C5.33337 3.22892 5.34976 3.16976 5.38075 3.11804C5.41175 3.06633 5.45619 3.02398 5.50934 2.99552C5.5625 2.96706 5.62238 2.95355 5.6826 2.95644C5.74283 2.95932 5.80115 2.97848 5.85134 3.01188L12.9173 7.72255C12.963 7.75299 13.0004 7.79423 13.0263 7.84261C13.0522 7.89099 13.0658 7.94501 13.0658 7.99988C13.0658 8.05475 13.0522 8.10878 13.0263 8.15716C13.0004 8.20553 12.963 8.24678 12.9173 8.27722Z"
                                        fill="#999999" /> </svg> Watch the video </div>
                        </button> </div>
                </div> <!-- Right Column -->
                <div class="w-full lg:w-1/2 text-center lg:justify-end justify-center flex pr-0"> <img
                        id="hero-header-4-4"
                        src="http://api.elements.buildwithangga.com/storage/files/2/assets/Header/Header4/Header-4-4.png"
                        alt=""> </div>
            </div>
        </div>
    </div>
</section>